* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    height: 100vh;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 390px;
    height: 844px;
    border: solid;
    border-color: grey;
    border-width: 1px;
    position: relative;
  }
  
  .inter-body {
    font-family: "Inter", sans-serif;
    font-weight: 700;
  }
  
  .btn {
    background-color: black; 
    color: white; 
    border: none; 
    width: 312px;
    height: 48px;
    border-radius: 90px;
    font-size: 16px;
    font-family: inherit;
    margin-bottom: 10px;
    position:absolute;
    line-height: 32px;
  }
  
  /* 修改按钮的鼠标悬停样式 */
  .btn:hover {
    background-color: #333; /* 悬停时的背景颜色 */
    color: white; /* 悬停时的文本颜色 */
  }



.login-form {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    margin: auto;
    position: relative;
    top: -90px;
    margin-left: 6px;
  }

  .login-title {
    font-weight: bold;
    color: #23262F;

  }

  
  #greeting {
    font-size: small;
    color: #27272E;
    margin-bottom: 4em;
    margin-top: 0 !important;
  }
  
  
  .form-control {
    background-color: #ebf0f8 !important; 
    border: none;
    width: 311px;
    height: 46px;
    font-size: 16px;
    border-radius: 6px;
  
  
  }
  
  .img_login img {
    position: relative;
    width: 390px;
    height: 218.8px;
    top: -36px;
  }
  
  
  .forget-password {
    text-align: right; 
    margin-right: 15px;
  }
  
  .forget-password a {
    text-decoration: none; 
    font-size: 0.8rem;
    color: #3F6AD5;
 
  }
  
  .btn_login {
    margin-top: 15px;
  }
  
  
  .tips-text {
    text-align: center; 
    margin-top: 100px; 
  }

.tips-text p {
    color:#718096;
    ;
  }
  .tips-text a {
    text-decoration: none; 
    color:  #425466;
    font-weight: bold;
  }